<div class="wrapper">
  <h1>Open-Source Code</h1>

  <h2>Date/Time Library</h2>

  <p><a href="https://github.com/kshetline/tubular_time#readme" target="_blank">@tubular/time</a> • Not all days are
    24 hours. Some are 23 hours, or 25, or even 23.5 or 24.5 or 47 hours. Some minutes are 61 seconds long. A Thursday
    might be followed directly by a Saturday, with no Friday in between. A September might be only 19 days long. This
    is a date/time library for handling both day-to-day situations (so to speak) and some weird ones too.</p>

  <h2>IANA Timezone Compiler</h2>

  <p><a href="https://github.com/kshetline/tubular_time_tzdb#readme" target="_blank">@tubular/time-tzdb</a> is an IANA
    timezone compiler, specifically for generating timezone data compatible with @tubular/time, but also capable of
    generating standard zoneinfo/zic-style binaries.</p>

  <p>It can compile timezone source files directly from https://www.iana.org/time-zones/, using the latest release or
    any particular requested version, or from a local .tar.gz file specified via file URL.</p>

  <p>Options are available for limiting the span of years covered, adjusting and filtering timezones, and choosing
    different output formats.</p>

  <h2>Angular Components</h2>

  <p><a href="https://github.com/kshetline/tubular_ng-widgets" target="_blank">@tubular/ng-widgets</a> •
    provides, among other components, the date/time editor used on this website.</p>

  <p>No API documentation yet exists for these components, but sample code for their use can be found below, and also
    in the code for <a href="https://github.com/kshetline/sky-view-cafe-astronomy">Sky View Café</a>.

  <h2>Code for This Website</h2>

  <a href="https://github.com/kshetline/tz-explorer" target="_blank">Timezone Explorer</a>
</div>
