:host {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-top: 0.25em;
}

.wrapper-outer {
  flex: 1 1 0;
  overflow: auto;
  text-align: center;

  .wrapper-inner {
    display: inline-block;
    max-width: 800px;
    text-align: start;

    .demo {
      .custom-config {
        border-top: 1px solid #CCC;
        display: flex;
        flex-direction: column;
        padding: 0.5em;

        > *:not(:first-child) {
          margin-top: 0.5em;
        }

        label {
          align-items: baseline;
          display: flex;
          white-space: nowrap;

          p-dropdown {
            margin-left: 0.5em;
          }
        }

        .bad-input ::ng-deep { // TODO
          input, .p-dropdown-label {
            background-color: #FBC;
          }
        }

        .row {
          align-items: center;
          display: flex;
          position: relative;

          > *:not(:first-child) {
            margin-left: 1em;
          }

          > p-checkbox {
            position: relative;
            top: 1px;
          }
        }
      }

      .custom-time {
        padding-top: 0.5em;
        position: relative;

        tbw-time-editor {
          font-size: 20px;
        }

        .label-pair {
          align-items: center;
          display: inline-flex;
          gap: 0.35em;
          margin-left: 1em;
          position: relative;
          top: -0.2em;
        }
      }

      .calendar {
        font-size: 1.5em;
        padding: 1em 0;
      }

      .footnote, .footnote-mark {
        color: blue;
      }

      .footnote {
        font-size: 0.8em;
      }
    }
  }
}
