:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.top-panel {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1em;
  position: relative;

  .edit-mode {
    display: flex;

    p-radioButton:not(:first-child), button {
      margin-left: 2em;
    }
  }
}

.clocks {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 1 1 4em;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  .clock-label {
    padding-top: 0.5em;
    white-space: nowrap;
  }

  .clock-row {
    align-items: center;
    display: flex;
    padding: 0 140px;

    .extra-on-left {
      display: flex;
      height: 2em;
      right: 4.9em;
      overflow: visible;
      position: relative;
      width: 0;

      div {
        display: flex;
        flex-direction: row-reverse;
        min-width: 4em;
        position: relative;
        top: 0.1em;
      }
    }

    .extra-on-right {
      display: flex;
      height: 2em;
      left: 1em;
      overflow: visible;
      position: relative;
      width: 0;

      div {
        top: -0.1em;
        position: relative;

        &.system-diff {
          align-self: center;
          color: #CCC;
          font-size: 0.8em;
          left: -1em;
          top: 0;
        }
      }
    }
  }

  tbw-time-editor {
    font-size: 1.5em;
  }

  .dst-legend {
    background-color: #EEE;
    color: dodgerblue;
    font: 12px Arial, Helvetica, sans-serif;
    margin-top: 0.33em;
    padding: 0.25em 1em;

    b {
      color: black;
      font-weight: normal;
    }
  }

  @media only screen and (max-device-width: 400px) {
    tbw-time-editor {
      font-size: 1.2em;
    }
  }

  @media only screen and (min-device-width: 401px) and (max-device-width: 425px) {
    tbw-time-editor {
      font-size: 1.3em;
    }
  }

  @media only screen and (min-device-width: 426px) and (max-device-width: 450px) {
    tbw-time-editor {
      font-size: 1.4em;
    }
  }

  @media only screen and (max-width: 700px) {
    .clock-row {
      padding: 0 50px;
    }
  }
}
