:host {
  display: inline-block;
}

.wrapper {
  align-items: baseline;
  border: #A6A6A6 solid max(1px, 0.0836em);
  border-radius: max(4px, 0.2em);
  caret-color: transparent;
  cursor: default;
  display: inline-flex;
  margin: 2px;
  overflow: hidden;
  padding: max(1px, 0.0836em) 0.2em;
  position: relative;
  user-select: none;
}

.divider {
  background-color: #A6A6A6;
  height: 1.15em;
  margin: 0 max(1px, 0.0836em);
  overflow: hidden;
  position: relative;
  top: 0.05em;
  white-space: nowrap;
  width: max(1px, 0.0836em);
}

.digit {
  font-family: Verdana, Arial, sans-serif;
  line-height: 122%;
  user-select: none;
  -webkit-text-stroke-width: 0.25px;
}

.draggable {
  position: relative;
}

.draggable-extra {
  display: inline-block;
  height: 0;
  max-height: 0;
  max-width: 0;
  overflow: visible;
  position: relative;
  white-space: nowrap;
  width: 0;
}

.sizer {
  background-color: transparent;
  color: transparent;
  display: inline-block;
  height: 0.1px;
  margin-bottom: -0.1px;
  overflow: hidden;
  position: relative;
  white-space: pre;
}

.sized {
  display: inline-block;
  max-width: 0;
  overflow: visible;
  white-space: nowrap;
  width: 0;
}

.spinner {
  margin-top: -0.3em;
  margin-right: -0.1em;
  padding: 0 0.1em;
  position: relative;
  top: 0.15em;
}

.mono-font {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Menlo, "Andale Mono", "Courier New", monospace;
}

.indicator-font {
  font-size: 0.8em;
}

.mono-indicator-font {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Menlo, "Andale Mono", "Courier New", monospace;
  font-size: 0.8em;
}

.explicit-focus-outline {
  outline: #3B99FC solid 1px;
}

.clear-focus-outline {
  outline: 0;
}
