.wrapper {
  align-items: baseline;
  border: #A6A6A6 solid max(1px, 0.0836em);
  border-radius: 0.2em;
  caret-color: transparent;
  cursor: default;
  display: inline-flex;
  margin: 2px;
  overflow: hidden;
  padding: max(1px, 0.0836em) 0.2em;
  user-select: none;
}

.digit {
  font-family: Verdana, Arial, sans-serif;
  user-select: none;
  -webkit-text-stroke-width: 0.25px;
}

.spinner {
  line-height: 0.9em;
  margin-top: -0.3em;
  margin-right: -0.1em;
  padding: 0 0.1em 0 0.15em;
  position: relative;
  top: 0.15em;
}

.fixed-font {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Menlo, "Andale Mono", "Courier New", monospace;
  line-height: 1em;
}

.indicator-font {
  font-size: 0.8em;
  line-height: 1em;
}

.fixed-indicator-font {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Menlo, "Andale Mono", "Courier New", monospace;
  font-size: 0.8em;
  line-height: 1em;
}

.explicit-focus-outline {
  outline: #3B99FC solid 1px;
}

.clear-focus-outline {
  outline: 0;
}
