.clock-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;

  .clock-format {
    display: flex;
    padding: 1em 0;

    p-radioButton:not(:first-child) {
      margin-left: 2em;
    }
  }
}
