:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1em;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    color: dodgerblue;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
}
