<div class="top-clocks">
  <div class="edit-mode">
    <p-radioButton name="editMode" [value]="true" [(ngModel)]="running" label="Track current time"></p-radioButton>
    <p-radioButton name="editMode" [value]="false" [(ngModel)]="running" label="Allow time to be edited and converted"></p-radioButton>
  </div>
  <div>Your local time, {{localZone}}</div>
  <tbw-time-editor #localClock tai
      [options]="{ showDstSymbol: true, showOccurrence: true, showSeconds: true, showUtcOffset: true, twoDigitYear: false }"
      [(ngModel)]="time"
      [viewOnly]="running"
      [timezone]="localZone"></tbw-time-editor>
  <div>Your local time, ISO formatted</div>
  <tbw-time-editor tai
      [options]="['ISO', { millisDigits: 3, showSeconds: true }]"
      [viewOnly]="running"
      [(ngModel)]="time"></tbw-time-editor>
  <div>UTC, TAI {{deltaTai}}s</div>
  <tbw-time-editor tai
      [options]="['ISO', { millisDigits: 3, showSeconds: true }]"
      [viewOnly]="running"
      [(ngModel)]="time"
      timezone="UTC"></tbw-time-editor>
  <div>GPS, TAI - 19s</div>
  <tbw-time-editor tai
      [options]="['ISO', { millisDigits: 3, showSeconds: true }]"
      [viewOnly]="running"
      [(ngModel)]="gps"
      timezone="TAI"></tbw-time-editor>
  <div>TAI (International Atomic Time)</div>
  <tbw-time-editor tai
      [options]="['ISO', { millisDigits: 3, showSeconds: true }]"
      [viewOnly]="running"
      [(ngModel)]="time"
      timezone="TAI"></tbw-time-editor>
  <div>TT (Terrestrial Time), TAI + 32.184s</div>
  <tbw-time-editor tai
      [options]="['ISO', { millisDigits: 3, showSeconds: true }]"
      [viewOnly]="running"
      [(ngModel)]="tt"
      timezone="TAI"></tbw-time-editor>
</div>
