:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.banner {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1em;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    color: dodgerblue;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }

  .info-icon-adjust {
    padding-left: 0.25em;
    position: relative;
    top: 0.2em;
  }
}

.tab-view {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 0.33em;
  width: 100%;

  ::ng-deep {
    .p-tabview {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .p-tabview-panels {
      align-items: stretch;
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
    }

    .p-tabview-panel {
      text-align: center;
    }

    p-tabpanel.tze-tab-selected {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
  }
}
