<div class="download-list">
  <div *ngFor="let version of versions">
    {{version}}&nbsp;&nbsp;
    <a [href]="getTarCodeLink(version)">{{nameFromLink(getTarCodeLink(version))}}</a>&nbsp;&nbsp;
    <a [href]="getTarDataLink(version)">{{nameFromLink(getTarDataLink(version))}}</a>&nbsp;&nbsp;
    <a [href]="getTarFullLink(version)">{{nameFromLink(getTarFullLink(version))}}</a>&nbsp;&nbsp;
    <a [href]="getZipCodeLink(version)">{{nameFromLink(getZipCodeLink(version))}}</a>&nbsp;&nbsp;
    <a [href]="getZipDataLink(version)">{{nameFromLink(getZipDataLink(version))}}</a>&nbsp;&nbsp;
    <a [href]="getZipFullLink(version)">{{nameFromLink(getZipFullLink(version))}}</a>
  </div>
</div>
