:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.download-list {
  display: grid;
  flex: 1 1 10em;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  justify-content: center;
  overflow: auto;
  position: relative;
  text-align: start;

  .header {
    display: contents;

    > div {
      background-color: white;
      position: sticky;
      text-decoration: underline;
      top: 0;
    }
  }

  .version {
    font-variant-numeric: tabular-nums;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .invalid-link {
    color: #BBB;
    pointer-events: none;
    text-decoration: none;
  }
}
