:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-top: 0.25em;
}

.list-wrapper {
  align-items: stretch;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  margin: 1em 0;
  max-width: calc(100vw - 4em);
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  .scroll-guard {
    background-color: white;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 1;
  }
}

.transition-list {
  align-content: start;
  align-items: center;
  display: grid;
  font-variant-numeric: tabular-nums;
  grid-template-columns: repeat(8, auto);
  justify-items: stretch;
  overflow: auto;
  position: relative;
  text-align: start;
  width: auto;

  > div > div {
    padding: 0 0.5em;
    white-space: nowrap;
  }

  .header-1, .header-2 {
    display: contents;

    > div {
      background-color: white;
      font-weight: bold;
      padding-bottom: 4px;
      position: sticky;
      text-align: center;
      z-index: 1;
    }
  }

  .header-1 > div {
    top: 0;
  }

  .trans-row {
    display: contents;

    &.upcoming {
      > div, i {
        background-color: #CEF;
      }
    }
  }

  .header-2 > div {
    box-shadow: 0 0 3px 3px white;
    top: calc(1.2em + 4px);
  }

  .no-dst {
    color: #0004;
    font-style: italic;
  }

  .negative-dst {
    color: #D06;
  }

  .irregular-dst {
    color: #94F;
  }

  .date-time {
    text-align: right;
  }

  .change-icon {
    align-items: center;
    display: flex;
    height: 1.2em;
    justify-content: center;
    min-width: 22px;
    position: relative;

    > i {
      font-size: 0.6em;
      position: relative;
      top: 0.2em;
    }
  }

  .gap-row {
    color: #69F;
    grid-column: 1 / span 8;
    text-align: center;
  }

  .upcoming-row {
    grid-column: 1 / span 8;
    height: 0.1px;
  }

  .message-row {
    color: #D06;
    grid-column: 1 / span 8;
    text-align: center;
  }
}

.simple {
  padding-top: 1em;
}
